<h1>Hello world</h1>

<%# Stimulus! %>
<div data-controller="test">
  <input data-test-target="name" type="text">
  <button data-action="click->test#greet">Greet</button>
</div>

<%# React %>
<div data-app="HelloApp"></div>
<div data-app="nested/NestedApp"></div>